<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="lib/angular-1.5.8.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="NarrowItDownApp">
<div class="container" ng-controller="NarrowItDownController as narrowItDownCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form-group ">
            <input type="text" placeholder="search term" class="form-control" ng-model="narrowItDownCtrl.filterText">
        </div>
        <div class="form-group narrow-button">
            <button class="btn btn-primary" ng-click="narrowItDownCtrl.findItems();">Narrow It Down For Me!</button>
        </div>

    <br /><br />
    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>

    <div ng-if="narrowItDownCtrl.found && narrowItDownCtrl.found.length === 0" class="alert alert-warning">
        <strong>Warning!</strong> Nothing found.
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items found="narrowItDownCtrl.found" on-remove="narrowItDownCtrl.removeItem(index)"></found-items>
</div>

</body>
</html>
